body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 380px;  /* width slightly less than the default to account for potential scrollbar */
    max-height: 480px;  /* max height slightly less than the default to ensure fit */
    overflow-y: auto;  /* if content is taller than max-height, allow scrolling */
}

.header-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px; 
    justify-content: center;
    width: 100%;
}

.logo {
    width: 200px; 
    height: 130px;
    align-items: center;
    margin-left: 0;
} 


/* SIGN-IN CONTAINER STYLES */
#signInContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 40px 20px;
    background: linear-gradient(to right, #e3f2fd, #f8f9fa);
}

#signInBtn {
    background-color: #4285F4;   /* Google blue color */
    color: white;
    border: none;
    border-radius: 24px;
    padding: 12px 30px;
    font-weight: 600;  /* Bold font for emphasis */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);  /* subtle shadow for depth */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#signInBtn:hover {
    background-color: #3066D2;  /* Slightly darker blue on hover */
    transform: scale(1.03);     /* subtle zoom on hover */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);  /* subtle shadow for depth on hover */
}

#signInBtn::before {
    content: '';
    background: url('./google-icon.png') no-repeat center;
    background-size: contain;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 15px;
    justify-content: center;
}

#signInContainer h3 {
    font-size: 15px;             
    font-weight: 500;           
    text-align: center;        
    margin-bottom: 20px;        
    color: #4a4a4a;
    font-family: 'Poppins', sans-serif; 
}


input[type="text"] {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1px;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #007BFF;
    outline: none;
}

#error {
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 15px;
    text-align: left;
    width: 100%;
    color: red; 
}

#summarizeBtn {
    background-color: #007BFF;
    border: none;
    border-radius: 4px;  /* Slightly rounded corners */
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-bottom: 40px;  /* Spacing between button and the next element */
}

#summarizeBtn:hover {
    background-color: #0056b3;
    transform: scale(1.05);  /* A subtle zoom on hover */
}

#pastSummaryTitle {
    font-size: 20px;             
    color: #333;                 
    font-weight: 600;            
    margin-bottom: 10px;         
    margin-top: 20px;             
    text-transform: uppercase;
    letter-spacing: 1.5px;     
}

/* Loader styles */
.loader {
    display: inline-block;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* Styling for the the summary-entry */

.search-summary-section {
    width: 100%;
}

.summary-entry {
    border: 1px solid #dee2e6;  /* A subtler border color */
    padding: 10px;  /* Slightly more padding */
    margin: 8px 0;
    border-radius: 4px;  /* Rounded corners for entries */
    background-color: #ffffff;  /* White background for summaries */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);  /* A light shadow for depth */
}

.summary-entry:hover {
    background-color: #f1f3f5;  /* A hover effect */
}

.summary-entry a {
    display: block;
    color: #007BFF;
    text-decoration: none;
    margin-bottom: 8px; 
    overflow: hidden;  
    white-space: nowrap; 
    text-overflow: ellipsis; 
}

.summary-entry p {
    margin-top: 6px;
    word-wrap: break-word;
    max-height: 50px;
    overflow: hidden;
}

.summary-entry button {
    background: none;
    border: none;
    color: #007BFF;
    cursor: pointer;
    padding: 0;
    margin-top: 10px;
    font-size: 1em;
    font-family: inherit;
}

.summary-entry p.collapsed {
    max-height: 50px;
    overflow: hidden;
}


.summary-entry button.delete-button {
        background-color: red;
        color: #ffffff;
        padding: 4px 15px; 
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        float: right;
}

.summary-entry button.delete-button:hover {
    background-color: darkred;
}

/* styles for modal */
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: opacity 0.3s ease;  /* smooth transition */
}

.modal-content {
    background: linear-gradient(135deg, #ffffff 0%, #f6f6f6 100%);  /* slight gradient */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);  /* gentle shadow */
    width: 80%;
    max-width: 300px;
    text-align: center;
    transition: transform 0.3s ease;  /* smooth appearance */
}

.modal-content button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px; 
    background: #007BFF;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-weight: 500;  /* slightly bold font */
}

.modal-content button:hover {
    background: #0056b3;  /* darker blue on hover */
    transform: scale(1.05);  /* subtle zoom on hover */
}

.modal-content button:first-child {
    background-color: #ccc;  /* gray color for cancel button */
    color: #666;
}

.modal-content button:first-child:hover {
    background-color: #aaa;  /* darker gray on hover */
}



